#define WIN32_LEAN_AND_MEAN
#include <Windows.h>

#ifndef GGML_VERSION_MAJOR
#define GGML_VERSION_MAJOR 0
#endif
#ifndef GGML_VERSION_MINOR
#define GGML_VERSION_MINOR 10
#endif
#ifndef GGML_VERSION_PATCH
#define GGML_VERSION_PATCH 0
#endif
#define BUILD_NUM 1

#define AKVIS_STR_(x) #x
#define AKVIS_STR(x) AKVIS_STR_(x)

LANGUAGE LANG_NEUTRAL, SUBLANG_NEUTRAL

#define VERSION_AS_NUMBERLIST GGML_VERSION_MAJOR,GGML_VERSION_MINOR,GGML_VERSION_PATCH,BUILD_NUM
#define VERSION_FULL AKVIS_STR(GGML_VERSION_MAJOR) "." AKVIS_STR(GGML_VERSION_MINOR) "." AKVIS_STR(GGML_VERSION_PATCH) "." AKVIS_STR(BUILD_NUM)

#ifdef GGML_COMMIT
#define VERSION_FULL2 VERSION_FULL " " GGML_COMMIT
#else
#define VERSION_FULL2 VERSION_FULL
#endif

VS_VERSION_INFO VERSIONINFO
 FILEVERSION VERSION_AS_NUMBERLIST
 PRODUCTVERSION VERSION_AS_NUMBERLIST
 FILEFLAGSMASK 0x17L
 FILEFLAGS 0x0L
 FILEOS 0x4L
//#if defined(AKVIS_THUNK)
 FILETYPE 0x2L
//#else
// FILETYPE 0x1L
//#endif
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "000004b0"
        BEGIN
            VALUE "FileVersion", VERSION_FULL
            VALUE "LegalCopyright", "Copyright (c) ggml.ai"
            VALUE "ProductName", "GGML"
            VALUE "ProductVersion", VERSION_FULL2
            VALUE "FileDescription", "Tensor library for machine learning"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x0, 1200
    END
END
